.quad{
  height: 200px;
}

.principal-notice {
  float: left;
  text-align: center;
  width: 50%;
}

.principal-notice h1 {
  font-size: 16px;
}

.padrao-notice {
  margin-top: 20px;
}


.padrao-notice img {
  height: 150px;
}


#carregar-noticias {
  list-style: none;
}

#carregar-noticias li{
  margin-left: 20px;
  display: inline-block;
}