<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Scrapper - Prefeitura Rio Noticias
    style
      include ./global.css
  body

    if (principal_notices)  
      each notice in principal_notices
        -var link = notice.link_materia.substr(37)
        div(class="principal-notice")
          img(class="quad" src=notice.img_src)
          a(href="/noticia/"+link): h1= notice.title
      
    
    
    if (notices)
      each notice in notices
        -var linknotice = notice.linkMateria.substr(37)
        hr
        div(class="padrao-notice")
          img(src=notice.link_img)
          a(href="/noticia/"+linknotice): h4()= notice.titulo_noticia
          h5()= notice.data_post
          h6()= notice.desc
          

    -var n = 1;
    ul(id="carregar-noticias")
      while n < 34
        li: a(href="/"+n)= n++
